<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br><br><br><br><br>

        <h2 class="header center black-text"> The New York Times News Scraper</h2>

        <div class="row center">
            <h5 class="header col s12 light"> Read, save, and add notes to NY Times articles </h5>
        </div>

        <br><br>

        <div class="row center">
            <a href="#modal1" class="btn-large waves-effect waves-light black modal-trigger" id="scrape_now">Scrape New Articles</a>
        </div>

        <div id="modal1" class="modal">
            <div class="modal-content">
                <p> Updating Articles</p> 
            </div>
            
            <div class="modal-footer">
                <a href="/scraped" class="modal-close blue btn">Okay</a>
            </div>
        </div>
        

        <br><br>

    </div>
</div>

<script src="/assets/javascript/index.js"></script>